<ion-card>
  <div
    [style.background]="this.bannerColorService.bannerColors.colorTwo"
    class="backdrop"
  >
    <div
      [style.background]="this.bannerColorService.bannerColors.colorOne"
      class="background-one"
    ></div>
    <div
      [style.background]="this.bannerColorService.bannerColors.colorOne"
      class="half-ellipse"
    ></div>
    <div
      [style.background]="this.bannerColorService.bannerColors.colorTwo"
      class="background-two"
    ></div>
    <div
      [style.background]="this.bannerColorService.bannerColors.colorThree"
      class="background-three"
    ></div>
  </div>
  <ion-card-header class="ion-text-center">
    <input
      #fileUpload
      (change)="onFileSelect($event)"
      style="display: none"
      type="file"
    />
    <ion-avatar
      (click)="fileUpload.click()"
      style="cursor: pointer"
      class="ion-margin-auto"
    >
      <ion-img *ngIf="userFullImagePath" [src]="userFullImagePath"></ion-img>
    </ion-avatar>

    <ion-card-title class="ion-margin-top"> {{ fullName }} </ion-card-title>
    <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
  </ion-card-header>

  <div class="item-divider"></div>

  <ion-card-content>
    <div>
      <span>Who viewed your profile</span>
      <ion-text color="primary">467</ion-text>
    </div>
    <div class="connections">
      <span>Connections</span>
      <ion-text color="primary">678</ion-text>
    </div>
    <ion-card-subtitle color="dark">Manage your network</ion-card-subtitle>
  </ion-card-content>
</ion-card>
