<ion-card>
  <div [style.background]="bannerColors.colorTwo" class="backdrop">
    <div
      [style.background]="bannerColors.colorOne"
      class="background-one"
    ></div>
    <div [style.background]="bannerColors.colorOne" class="half-ellipse"></div>
    <div
      [style.background]="bannerColors.colorTwo"
      class="background-two"
    ></div>
    <div
      [style.background]="bannerColors.colorThree"
      class="background-three"
    ></div>
  </div>
  <ion-card-header class="ion-text-center">
    <ion-avatar class="ion-margin-auto">
      <ion-img src="../../../../assets/profile-pic.jpg"></ion-img>
    </ion-avatar>
    <ion-card-title class="ion-margin-top"> Jon Peppinck </ion-card-title>
    <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
  </ion-card-header>

  <div class="item-divider"></div>

  <ion-card-content>
    <div>
      <span>Who viewed your profile</span>
      <ion-text color="primary">467</ion-text>
    </div>
    <div class="connections">
      <span>Connections</span>
      <ion-text color="primary">678</ion-text>
    </div>
    <ion-card-subtitle color="dark">Manage your network</ion-card-subtitle>
  </ion-card-content>
</ion-card>
