/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-class .popover-content {
  width: 300px;
  margin-top: 16px;
  --box-shadow: none;
  --background: none;
}

.my-custom-class2 {
  --width: 552px;
  --height: 400px;
  margin-top: -100px;
  ion-grid {
    margin: 0;
    padding-bottom: 0;
  }
  ion-textarea {
    --padding-top: 0;
  }
}

.item-divider {
  border-bottom: 1px solid var(--ion-color-light-tint);
}

ion-button {
  text-transform: initial;
}

ion-button {
  ion-text {
    margin-left: 8px;
  }
}
