:root {
  --ion-color-primary: #0077b5;
  --ion-color-primary-rgb: 0, 119, 181;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00699f;
  --ion-color-primary-tint: #1a85bc;

  --ion-color-secondary: #00a0dc;
  --ion-color-secondary-rgb: 0, 160, 220;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #008dc2;
  --ion-color-secondary-tint: #1aaae0;

  --ion-color-tertiary: #eef3f8;
  --ion-color-tertiary-rgb: 238, 243, 248;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d1d6da;
  --ion-color-tertiary-tint: #f0f4f9;

  --ion-color-success: #7fc15e;
  --ion-color-success-rgb: 127, 193, 94;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #70aa53;
  --ion-color-success-tint: #8cc76e;

  --ion-color-warning: #e7a338;
  --ion-color-warning-rgb: 231, 163, 56;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #cb8f31;
  --ion-color-warning-tint: #e9ac4c;

  --ion-color-danger: #cc1016;
  --ion-color-danger-rgb: 204, 16, 22;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b40e13;
  --ion-color-danger-tint: #d1282d;

  --ion-color-dark: #313335;
  --ion-color-dark-rgb: 49, 51, 53;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2b2d2f;
  --ion-color-dark-tint: #464749;

  --ion-color-medium: #86888a;
  --ion-color-medium-rgb: 134, 136, 138;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #767879;
  --ion-color-medium-tint: #929496;

  --ion-color-light: #caccce;
  --ion-color-light-rgb: 202, 204, 206;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #b2b4b5;
  --ion-color-light-tint: #cfd1d3;
}
