<ion-card>
  <ion-card-header>
    <ion-text
      ><h5>Today's most viewed courses</h5>
      <ion-icon name="information"></ion-icon
    ></ion-text>
  </ion-card-header>
  <ion-card-content>
    <ion-text color="dark">
      <h6 class="first-course">1. High Performance Habits</h6>
    </ion-text>
    <p>John Doe | Entrepreneur</p>
    <ion-text color="dark">
      <h6>2. Leadership 101</h6>
    </ion-text>
    <p>Jane Smith | Leader</p>
    <ion-text color="dark">
      <h6>3. Psychology of Success</h6>
    </ion-text>
    <p>Home Thomas | Psychologist</p>
    <ion-button color="medium" size="small" fill="clear"
      >View all recommendations
      <ion-icon
        class="ion-padding"
        color="dark"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
