<ion-content>
  <div class="title-container">
    <ion-text color="primary" class="linkedin-text">Linked</ion-text>
    <ion-icon
      class="linkedin-icon"
      name="logo-linkedin"
      color="primary"
    ></ion-icon>
  </div>
  <div class="subtitle-container">Make the most of your professional life</div>

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ng-container *ngIf="submissionType === 'join'">
        <ion-item>
          <ion-label position="floating">First name</ion-label>
          <ion-input
            #firstNameInput="ngModel"
            ngModel
            type="text"
            name="firstName"
            required
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="!firstNameInput.valid && firstNameInput.touched"
          >Please enter your first name.</ion-text
        >
      </ng-container>
      <ng-container *ngIf="submissionType === 'join'">
        <ion-item>
          <ion-label position="floating">Last name</ion-label>
          <ion-input
            #lastNameInput="ngModel"
            ngModel
            type="text"
            name="lastName"
            required
          ></ion-input>
        </ion-item>
        <ion-text
          color="danger"
          *ngIf="!lastNameInput.valid && lastNameInput.touched"
          >Please enter your last name.</ion-text
        >
      </ng-container>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input
          #emailInput="ngModel"
          ngModel
          type="email"
          name="email"
          required
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailInput.valid && emailInput.touched"
        >Please enter your email address.</ion-text
      >
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          #passwordInput="ngModel"
          ngModel
          type="password"
          name="password"
          required
        ></ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngIf="!passwordInput.valid && passwordInput.touched"
        >Please enter your password.</ion-text
      >
      <p *ngIf="submissionType === 'join'" class="terms-and-conditions">
        By clicking Agree & Join, you agree to the LinkedIn
        <ion-text color="primary">User Agreement</ion-text>,
        <ion-text color="primary">Privacy Policy</ion-text>, and
        <ion-text color="primary">Cookie Policy</ion-text>.
      </p>
      <ion-button
        [disabled]="!form.valid"
        type="submit"
        shape="round"
        expand="block"
      >
        {{ submissionType === 'login' ? 'Sign in' : 'Accept & Join' }}
      </ion-button>
    </ion-card>
  </form>
  <div class="toggle-text">
    {{ submissionType === 'login' ? 'New to LinkedIn' : 'Already on LinkedIn' }}
    <ion-text class="toggle-auth-mode" (click)="toggleText()" color="primary">
      {{ submissionType === 'login' ? 'Join now' : 'Sign in' }}
    </ion-text>
  </div>
</ion-content>
