.container {
  display: flex;
  height: calc(100% - 110px);
  width: 800px;
  box-shadow: none;
  border: 1px solid #e1e1e1;
  margin: auto;
  margin-top: 110px;

  @media (max-width: 800px) {
    width: 100%;
  }

  .select-connection {
    overflow-y: scroll;
    width: 40%;
    border-right: 1px solid #e1e1e1;
    .friend {
      border-bottom: 1px solid #e1e1e1;
      border-left: 4px solid transparent;
      &:hover {
        background-color: #e1e1e1;
        cursor: pointer;
      }
    }
    .selected-conversation {
      border-left: 4px solid green;
    }
  }

  .chat {
    width: 60%;
    position: relative;
    .chat-messages {
      overflow-y: scroll;
      height: calc(100% - 260px);
      border-bottom: 1px solid #e1e1e1;
    }
    form {
      width: 100%;
      height: 200px;
      position: absolute;
      bottom: 0;
      ion-textarea {
        height: 110px;
      }
    }
  }
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  .heading {
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
  }
  .friend-name-role {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
