<ion-card *ngIf="this.connectionProfileService?.friendRequests">
  <ion-card-header>
    <ion-grid>
      <ng-container
        *ngFor="
          let friendRequest of this.connectionProfileService.friendRequests
        "
      >
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="auto">
            <ion-avatar>
              <ion-img [src]="$any(friendRequest).fullImagePath"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-title>
              {{ $any(friendRequest).creator.firstName }}
              {{ $any(friendRequest).creator.lastName }}
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-button
            (click)="respondToFriendRequest(friendRequest.id, 'accepted')"
            expand="block"
            size="small"
            fill="outline"
            color="primary"
            >Accept</ion-button
          >
          <ion-button
            (click)="respondToFriendRequest(friendRequest.id, 'declined')"
            expand="block"
            size="small"
            fill="outline"
            color="danger"
            >Decline</ion-button
          >
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-card-header>
</ion-card>
